* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #090909;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1900px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

.home-page-wrapper {
  padding-top: 124px;

  .home-content {
    display: flex;
    align-items: center;
    gap: 60px;
    background-image: url('/main-grid.svg');
    background-position: right;
    background-size: inherit;
    background-repeat: no-repeat;

    .home-heading {
      span {
        color: #717171;
        font-size: 30.109px;
        font-weight: 400;
        letter-spacing: -1.505px;
      }

      h2 {
        color: #202020;
        font-size: 101.783px;
        font-weight: 800;
        line-height: 75px;
        text-transform: uppercase;
      }

      .video-heading {
        padding-top: 120px;
        width: max-content;

        h3 {
          color: #FFF;
          font-size: 166.811px;
          font-weight: 300;
          text-transform: uppercase;
          margin: 0;
          line-height: 100px;
        }

        h4 {
          color: #717171;
          font-size: 30.109px;
          font-weight: 900;
          letter-spacing: 34.625px;
          text-transform: uppercase;
          padding-top: 14px;
          text-align: right;
        }
      }
    }
  }

  .projects-wrapper {
    margin-top: 200px;


    .projects-heading {
      position: relative;
      width: max-content;

      h2 {
        color: rgba(255, 255, 255, 0.1);
        font-size: 166.811px;
        font-weight: 800;
        line-height: 193.757px;
        text-transform: uppercase;
      }

      p {
        color: #fff;
        position: absolute;
        top: 50%;
        right: -106px;
        font-size: 30.109px;
        letter-spacing: -1.505px;
        line-height: 0px;
      }
    }

    .projects-content {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 50px;
      padding-top: 100px;
    }
  }

  .contact-wrapper {
    border-radius: 30px;
    border: 1px solid #333;
    background: #080808;
    padding: 70px 0;
    margin: 120px 40px;

    h4 {
      color: #FFF;
      font-size: 30px;
      font-weight: 300;
      line-height: 41px;
      letter-spacing: -1.5px;
      padding-bottom: 20px;
    }

    .social-content-wrapper {
      display: flex;
      gap: 100px;

      .social-content {
        border-radius: 30px;
        background-image: url('/contact-texture.svg');
        background-position: center;
        background-size: auto;
        padding: 20px;
        width: 100%;

        .social-heading {
          border-radius: 20px;
          border: 1px solid #303030;
          padding: 26px;
          display: flex;
          align-items: center;
          gap: 15px;

          h3 {
            color: #FFF;
            font-size: 22px;
            font-weight: 400;
            letter-spacing: -1.1px;
          }

          p {
            color: #717171;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: -0.8px;
          }
        }
      }

      .about-me {
        p {
          color: #717171;
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }
}

.ytp-title-link {
  display: none !important;
}